.cabecalho{
    border-color: #f304b7;
    display: flex;
    
}



body {
    background-color: #32f103;
    }
    body {
        background-color: #f304b7;
        color: rgb(217, 255, 0);
        }